.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scroll-to-top {
  position: fixed;
  bottom: 12px;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #e31837;
  color: #fff;
  z-index: 1;
}
.scroll-to-top .icon {
  margin-top: 10px;
  animation: scrollTop 0.5s alternate ease infinite;
}
@keyframes scrollTop {
  from {
      transform: translateY(2px);
  }
  to {
      transform: translateY(-1px);
  }
}


.app{
  max-width: 1200px;
  width: 100%;
  
  background :#fff;
  line-height: 2;
  box-shadow: 0 0 10px #fdc500;
}
.details{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px 0;
}
.details .big-img{
  max-width: 500px;
  min-width: 290px;
  box-shadow: 8px 8px #fdc500;
  overflow: hidden;
  margin: 25px;
}
.big-img img{
  width: 100%;
  height: 100%;
 
  display: block;
  object-fit: cover;
}
.small-img img{
  width: 100%;
  height: 100%;
 
  display: block;
  object-fit: cover;

    
    
  

}
.details .box{
  max-width: 500px;
  min-width: 290px;
  margin: 5px;
  color: #282c34;
}
.box .row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.box .row h2{
  text-transform: uppercase;
  letter-spacing: 2px;
}
.box .row span{
  color: crimson;
}
.box .colors button{
  width: 30px;
  height: 30px;
  border: 1px solid #333;
  outline: none;
  margin-right: 5px;
  cursor: pointer;
}
.box p{
  line-height: 1.5;
  margin: 15px 0;
}
.thumb{
  width: 100%;
  height: 100px;
  display: flex;
  cursor: pointer;
  margin: 10px 0;
}
.thumb img{
  width: 90px;
  height: 100%;
  display: block;

  object-fit: cover;
  border: 2px solid #fdc500;
  margin-right: 85px;
  opacity: 0.7;
  border-radius: 5px;
}
.thumb img.active{
  opacity: 1;
  border: 10px solid lightseagreen;
}
.small-img:hover .overlay {
  transform: scale(1);
  border: 10px solid lightseagreen;
}
.box .cart{
  background: #333;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 10px 25px;
  margin-top: 15px;
}

@media (max-width: 500px){
  .thumb{
    height: 50px;
  }
  .thumb img{
    width: 50px;
  }
}